html {
    body {
        margin: 0;
        padding: 0;
        #wrapper {
            header {
                display: flex;
                height: 100px;
                align-items: flex-start;
                background-color: aqua;
                h1 {
                    display: inline-block;
                    width: 80%;
                    text-align: center;
                }
                form {
                    display: flex;
                    width: 20%;
                    input[type="number"] {
                        width: 50%;
                        margin: 0 10%;
                    }
                    input[type="submit"] {
                        width: 20%;
                    }
                }
            }
            ul {
                display: flex;
                li {
                    display: inline-block;
                    margin: 0.25em;
                    padding: 0.2em 1em;
                    border-radius: 5px;
                    border: 1px solid black;
                    list-style: none;
                }
            }
        }
    }
}